ul{
    background-color: aquamarine;
    width:360px;
    margin: 100px auto;
}
li:nth-child(2n){
    background-color: antiquewhite;
}
p::first-line{
    text-transform: uppercase;
}
p:hover{
    background: cadetblue;
    color: azure;
}
