a:hover {
    background: black;
    color: azure;
}
body{

    background: darkgray;
}

#wrapper{
    margin:0 auto;
    background-color: white;
    width: 800px;
    height: 100px;

    
}
header{
    padding: 0px 0px 0px 0px ;
}

#horzNav:hover{
    display: block;
    background: black;
    color: white;
}

#para-1{
    word-spacing: 20px;
}
#para-2{
    word-spacing: 10px;
    letter-spacing: 20px;
}